* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* STYLES FOR FEEDS PAGES STARTS */
.feeds-bg{
    background: rgba(238, 238, 238, 0.5);
}
.notify-num{
    position: relative;
    right: 10px;
    top: 8px;
}

.latest-menu{
    outline-color: #ccc9c9;
    outline-style: double;
}
.feeds-wrapper{
    overflow: hidden;
}

.sidebar-hidden{
    display: none;
}
.sidebar-show{
    display: inline;
}
#sidebar-button1:hover, #sidebar-button2:hover{
    cursor: pointer;
}
.reduce-width, .feeds-wrapper, #sidebar-button1, #sidebar-button2, .sidebar-text{
    transition: all 0.3s ease-out;
}
.active-bar:hover{
    border-right: 3px solid #09174B;
    border-radius: 2px;
}
.feeds-btn-bg{
    background: #09174B;
}
.feeds-text{
    color: #09174B !important;
}
.shape-radius{
    border-radius: 15px;
}

.ubuntu-feeds-font{
    font-family: 'Ubuntu', sans-serif;
    color: #464646;
}
.change-border{
    border:1px solid #09174B;;
}

@media  screen and (max-width: 991px) {
    .feeds-wrapper{
        width: 100%  !important;
        margin-left:  0 !important;
    }
}
@media screen and (min-width:992px) {
    .feeds-wrapper{
        width: calc(100% - 130px);
        margin-left:  130px;
    }
}
/* STYLES FOR FEEDS PAGES ENDS HERE */